body{
  background-image: url(calculadora1.jpg);
  background-position: center;  
  background-size: cover;
  display: flex;
  justify-content: center;

}


header{
  padding: 15%;
  

  
}

 h1{
  font-size: 260%;
  color: rgb(255, 99, 71);
  
 
}

h3{
  font-size: 130%;
  color: rgba(255, 99, 71, 0.822);
  margin-top: -5%;
} 

.container{
  background: rgba(250, 45, 45, 0.164);
  border-radius: 40px;
  width: 200px;
  
  padding: 50px;
}
