body{
    background-image:url(../img/OKEq.gif) ;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20%;
    margin-left: 42%;
    color: white;
    border: black;
  
    
  
}
